.menu-bar {
  @include simpletrans;
  @include clearfix;

  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background: $menubar-background-color;

  .menu-bar--slim & {
    background: transparent;
  }

  a {
    color: white;
  }
}

.menu-bar__page-width-wrapper {
  position: relative;
  max-width: $page-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;

  @media (max-width: $breakpoint-3) {
    padding-right: 0;
  }

  @media (max-width: 400px) {
    padding-right: 0;
  }
}
