.menu {
  float: right;
  font-size: 1rem;
  font-family: $font-family-headline;

  @media (max-width: $breakpoint-3) {
    @include simpletrans;
    @include clearfix;

    position: absolute;
    top: 3.7rem;
    right: 0;
    max-width: 400px;
    background: $color1;
  }
}

.menu__item {
  float: left;

  @media (max-width: $breakpoint-3) {
    width: 50%;
  }

  a {
    @include simpletrans;

    display: block;
    padding: 1rem;

    @media (max-width: $breakpoint-1) {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }

    @media (max-width: $breakpoint-3) {
      padding: 1.5rem;
      text-align: center;
    }
  }

  a:hover,
  &.current-menu-item:not(:first-child) a {
    background: $menubar-background-hover-color;
  }
}

.menu__toggle {
  display: none;
}

label[for="menu__toggle"] {
  @include clearfix;

  display: none;
  float: right;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  @media (max-width: $breakpoint-3) {
    display: block;
  }

  &::after {
    @include fa-icon();

    content: $fa-var-navicon;
  }
}

input[type="checkbox"]:not(:checked) ~ .menu {
  @media (max-width: $breakpoint-3) {
    right: -400px;
  }
}
