.news {
  position: relative;
}

.news__item {
  overflow: hidden;
}

.news__message {
  margin-bottom: 0;
  font-size: $news-message-font-size;
}

.news__date {
  color: desaturate($link-color, 20%);
}

.news__shared-content {
  font-size: $shared-content-font-size;
}

.news-link {
  display: block;
  max-width: 30rem;
  padding: 1rem;
  background: $color1;
  color: #fff;
  text-align: center;

  &:hover,
  &:focus {
    background: lighten($color1, 3%);
    color: #fff;
  }
}

.news-link__title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
}

.news-link__description {
  font-size: 0.9rem;
  line-height: 1.2;
  opacity: 0.7;
}
