<div class="fb-video" data-href="{{ url }}" data-width="1000" data-show-text="false">
    <blockquote cite="{{ url }}" class="fb-xfbml-parse-ignore">
        <a href="{{ url }}">How to Share With Just Friends</a>
        <p>How to share with just friends.</p>
        Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Freitag, 5. Dezember 2014
    </blockquote>
</div>