{% for attachment in post.attachments %}
    {% if attachment.type == 'album' %}
        <div class="facebook-gallery">
            {% set photos = attachment.subattachments %}
            {% for i in range(0, min(photos|length, 4) - 1) %}
                <div class="facebook-gallery__item-wrapper">
                    <img src="{{ photos[i].media.image.src }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}