<div class="fullscreen-video">
    {% block video %}{% endblock %}
    <input type="checkbox" id="fullscreen-video__is-playing" class="fullscreen-video__is-playing" />
    <label for="fullscreen-video__is-playing">
      <div class="fullscreen-video__button"></div>
      <div class="fullscreen-video__privacy">Das Video wird von Youtube eingebettet abespielt. Es gilt die <a href="https://www.google.com/intl/de/policies/privacy/" target="_blank">Datenschutzerklärung von Google</a></div>
    </label>
</div>
