{% extends 'components/panel.html.twig' %}

{% block main_content %}
    {% include 'components/scroll-link.html.twig' with { direction: 'up', url: '#' ~ teaserPost.post_name, label: 'Teaser-Video' } %}
    <div class="kuenstler-description">
        {{ post.content }}
    </div>
    {% include 'components/newsletter.html.twig' %}
    {{ function('do_shortcode', '[efb_feed fanpage_id=794547823897907 skin_id=574]') }}
{% endblock %}
