/* alegreya-sc-regular - latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Alegreya SC";
  src: url("fonts/alegreya-sc-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Alegreya SC Regular"), local("AlegreyaSC-Regular"),
    url("fonts/alegreya-sc-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/alegreya-sc-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/alegreya-sc-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/alegreya-sc-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/alegreya-sc-v7-latin-regular.svg#AlegreyaSC") format("svg"); /* Legacy iOS */
}

/* alegreya-sc-700 - latin */
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Alegreya SC";
  src: url("fonts/alegreya-sc-v7-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Alegreya SC Bold"), local("AlegreyaSC-Bold"),
    url("fonts/alegreya-sc-v7-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/alegreya-sc-v7-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/alegreya-sc-v7-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/alegreya-sc-v7-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/alegreya-sc-v7-latin-700.svg#AlegreyaSC") format("svg"); /* Legacy iOS */
}

/* alegreya-sc-900 - latin */
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Alegreya SC";
  src: url("fonts/alegreya-sc-v7-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Alegreya SC Black"), local("AlegreyaSC-Black"),
    url("fonts/alegreya-sc-v7-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/alegreya-sc-v7-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/alegreya-sc-v7-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/alegreya-sc-v7-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/alegreya-sc-v7-latin-900.svg#AlegreyaSC") format("svg"); /* Legacy iOS */
}
