/* alegreya-sans-regular - latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Alegreya Sans";
  src: url("../fonts/alegreya-sans-v4-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Alegreya Sans Regular"), local("AlegreyaSans-Regular"),
    url("../fonts/alegreya-sans-v4-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/alegreya-sans-v4-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/alegreya-sans-v4-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/alegreya-sans-v4-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/alegreya-sans-v4-latin-regular.svg#AlegreyaSans")
      format("svg"); /* Legacy iOS */
}
