/* amatica-sc-regular - latin */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Amatica SC";
  src: url("fonts/amatica-sc-v1-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Amatica SC"), local("AmaticaSC-Regular"),
    url("fonts/amatica-sc-v1-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/amatica-sc-v1-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/amatica-sc-v1-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/amatica-sc-v1-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/amatica-sc-v1-latin-regular.svg#AmaticaSC") format("svg"); /* Legacy iOS */
}

/* amatica-sc-700 - latin */
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Amatica SC";
  src: url("fonts/amatica-sc-v1-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Amatica SC Bold"), local("AmaticaSC-Bold"),
    url("fonts/amatica-sc-v1-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/amatica-sc-v1-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/amatica-sc-v1-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/amatica-sc-v1-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/amatica-sc-v1-latin-700.svg#AmaticaSC") format("svg"); /* Legacy iOS */
}
